.login-form {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 280px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

input, select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;

    box-sizing: border-box;
}

button[type=submit] {
    width: 80%;
    background-color: #e5ab51;
    color: #ffffff;
    padding: 14px 20px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

.form-input {
    margin-bottom: 20px;
}
