
html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    background-color: #e75d5d;
}

.base-card {
    width: 100%;
    background-color: white;
    padding: 30px;
}

.flex-container-card {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container-card > div {
    margin: 10px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    background-color: #e3e3e3;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cart-item div{
    padding: 0 10px;
    width: 150px;
}

.cart-item div button{
    background-color: #942533;
    width: 100%;
    height: 100%;


}

.text-right {
    text-align: right;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navigation{
    margin-left: 20px;
    margin-right: 20px;

}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.navbar .nav-item {
    float: left;
}

.navbar .nav-item-right {
    float: right;
}

.navbar li a {
    display: block;
    color: #3d68cf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: calc(10% - 10px);
    left: calc(50% - 80px);
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    content:"";
    z-index:-1;
    box-shadow: 0px 0px 2px 2px #c6c6c6;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.info-box {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;

}

.alert {
    width: 100%;
    background-color: dimgray;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.alert-success {
    background-color: green;
    color: white;
}

.alert-danger {
    background-color: #b22222;
    color: white;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.browse-menu {
    display: flex;
    width: 100%;
    flex-flow: row ;
}

.browse-menu button{
    margin-top: 5px;
}
.is-active{
    background-color: #242424;
}

.browse-menu button:hover{
    background-color: #e3b46d;
}

.browse-menu h3{
    margin: 10px;
}

.is-invalid {
    border-color: #e75d5d;
}

.form-invalid {
    color: #e75d5d;
}


.browse-section {
    width: 100%;
    background-color: white;
    padding: 15px;
}
.add-entry-section {
    width: 100%;
    background-color: white;
    padding: 15px;
}

.add-entry-section input {
    float: left;
    width: 200px;
    padding: 10px;
    margin: 10px;
}
.add-entry-section select {
    float: left;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
}

.card {
    width: 400px;
    height: 375px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    margin-bottom: 20px;
    background-size: cover;

}

.card-album {
    background-image: url('https://ae01.alicdn.com/kf/HTB1OMTeXjvuK1Rjy0Faq6x2aVXay/Photo-Album-Scrapbook-PU-Leather-Albums-Cover-Interleaf-Type-Wedding-Pictures-Album-Large-Volume-Retro-Photograph.jpg');
    border: 4px solid #b0215e;
}

.card-track {
    background-image: url('https://media.gettyimages.com/photos/railroad-track-points-picture-id154952126?s=612x612');
    border: 4px solid #d06a2c;
}

.card-artist {
    background-image: url('https://0.academia-photos.com/26348962/12093969/18441876/s200_arturo.mora-rioja.jpg');
    border: 4px solid #34b842;
}
.card p{
    text-align: center;

}

.added-to-cart {
    border: 4px solid #18ffff;
}
.inner {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    opacity: 0.7;


}

.title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 20px;

}

.subtitle {
    color: #b0215e;
    text-align: center;
}


.pagination {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination button {
    width: 50px;
    padding: 15px;
    background-color: #666666;
}

.item-list {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.item-list, th {
    border: 1px solid #8c8c8c;
    text-align: left;
    padding: 8px;
}
.item-list, td {

}
.table-input {
    width: 100%;
    padding: 10px;
    border: none;
}
.item-list, tr {
    background-color: #b3b3b3;
}

.item-list, tr:hover {background-color: #ffffff;}

.table-btn {
    width: 50%;
    padding: 10px;
    margin: 0;
    float: left;
}

.btn-delete {
    background-color: firebrick;
}

.btn-edit {
    background-color: #dbc236;
}

