* {
    box-sizing: border-box;
}

.flex-item-left {

    padding: 10px;
    flex: 50%;
}

.flex-item-right {

    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

button {
    width: 100%;
    background-color: #e5ab51;
    color: #ffffff;
    padding: 14px 20px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

input, select {
    width: 60%;
    display: inline-block;
    border: 1px solid #ccc;

    box-sizing: border-box;
}

